{% load static %}
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>Markers Map</title>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">-->
<!--  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">-->
<!--  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--  <div id="map"></div>-->
<!--  <script src="{% static 'map.js' %}"></script>-->
<!--</body>-->
<!--</html>-->

{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
    <h1>Crime in London</h1>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            // Use Leaflet API here
        }
    </script>
  </body>
</html>